<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!--Give directory path only, code will fecth the files name automatically.-->
		<add key="InputDirectoryPath" value="D:\input" />
		<!--Give directory path only, code will create output file name by appending -output in the input file name-->
		<add key="OutputDirectoryPath" value="D:\output"/>
		
	</appSettings>
</configuration>